# Vivado 자동 생성 파일
.Xil/
*.cache/
*.runs/
*.sim/
*.hw/

# Vivado 로그
*.jou
*.log
*.str

# Windows
Thumbs.db
Desktop.ini

# Vivado 무시 파일 목록
*.xpr
*.hw
*.sim
*.cache
*.runs
*.Xil
*.ip_user_files

# Document files
*.hwp
*.hwpx
*.doc
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.pdf
*.jpg
*.png